body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.auth-wrapper form {
  width: 375px;
  margin: 0 auto;
}
.auth-wrapper Link {
  justify-content: center;
}
.auth-wrapper h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.auth-wrapper .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.auth-wrapper p {
  color: #bf1650;
}

.auth-wrapper p::before {
  display: inline;
  content: "⚠ ";
}

.auth-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

.auth-wrapper button[type="submit"],
.auth-wrapper input[type="submit"] {
  background: #ec5990;
  color: black;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.auth-wrapper button[type="submit"]:hover,
.auth-wrapper input[type="submit"]:hover {
  background: #bf1650;
}

.auth-wrapper button[type="submit"]:active,
.auth-wrapper input[type="button"]:active,
.auth-wrapper input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-wrapper input:disabled {
  opacity: 0.4;
}

.auth-wrapper input[type="button"]:hover {
  transition: 0.3s all;
}

.auth-wrapper button[type="submit"],
.auth-wrapper input[type="button"],
.auth-wrapper input[type="submit"] {
  -webkit-appearance: none;
}

.auth-wrapper button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.auth-wrapper hr {
  margin-top: 30px;
}

.auth-wrapper button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
.menu-bar{
  background: #dde0ea;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu{
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;

}
.menu2{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;

}
.appbar{
  width:50px;
}
.appbar2{
  width:500px;
  color: #bf1650;
}

.card-wrapper{
  position:relative;
  width:100%;
  padding:0 10px;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}
.card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus{
  outline:none;
  border:none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin:0 auto;
  background-color: #dde0ea;
}
.header img{
  width:5.875rem;
  height:5.875rem;
  padding:0.75rem 0;
}
.header nav ul{
  list-style: none;
  display:flex;
  text-align:center;
}
.header nav ul li{
  padding:20px 10px;
  width:88px;
}
.header nav ul li a{
  position:relative;
  display:inline-block;
  line-height:5rem;
  font-size:1.0625rem;
}
.header nav ul li.active a{
  color: #22aee5;
}
.header nav ul li.active a:after{
  content:"";
  position: absolute;
  width:100%;
  height: 2px;
  background-color: #22aee5;
  left:0;
  bottom:0;
}
.header a{
  text-decoration: none;
}

.header nav ul li a:after{
  opacity:0;
  content: "";
  position:absolute;
  width:100%;
  height: 2px;
  background-color: #22aee5;
  left:0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.header nav ul li.active a::after,
.header nav ul li:hover a:after{opacity:1;}